.connectButton {
    display: none;
}

@media screen  and (max-width: 980px) {
    .connectButton {
        display: block;
        /*padding: 0.5rem;*/
        /*background: var(--blue-color);*/
        /*color: var(--yellow-color);*/
        font-size: 1.2rem;
        font-weight: bold;
        margin: 2rem auto 0 auto;
        /*border-radius: 1rem;*/
        /*text-shadow: #000 1px 0 5px;*/
        text-decoration: underline;
    }
}