@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: rgb(239, 68, 68);
  --blue-color: rgb(96, 165, 250);
  --yellow-color: rgb(250, 204, 21);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
