._ {
    --red-color: rgb(239, 68, 68);
    --blue-color: rgb(96, 165, 250);
    --yellow-color: rgb(250, 204, 21);
}
.header {
    height: 3rem;
    padding: 1rem;
    width: 100%;
    background: white;
    text-shadow: lightslategray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.logo {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 2rem;
    float: left;
    width: 30%;
}
.headerLinks {
    text-decoration: underline 2px cornflowerblue;
    text-underline-position: under;
}
.headerLinks:hover {
    text-decoration: underline 3px darkorange;
}
.main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background: white;
}
.leftCol {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.inputWrap {
    width: 40%;
}
.wrap {
    width: 40%;
    display: flex;
    gap: 1rem;
}
.input {
    border: solid 2px var(--blue-color);
    width: 100%;
}
.searchButton {
    background: var(--yellow-color);
    padding: 0 1rem;
    border: 2px solid var(--blue-color);
}
.lk {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
}
.lk a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: indianred;
    text-shadow: #000 1px 0 5px;
}
.arrow {
    height: 6rem;
    fill: indianred;
}