._ {
    display: flex;
    flex-direction: column;
    background: rgb(150, 150, 150, 0.4);
    border-radius: 1rem;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.top {
    width: 100%;
    height: 4.5rem;
    display: flex;
}

.slogan {
    height: 25%;
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--yellow-color);
    text-shadow: #000 1px 0 5px;
    animation-duration: 0.5s;
    animation-name: opacity;
}
.topHeaders {
    cursor: pointer;
    height: 4.5rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: #000 1px 0 5px;
    animation-duration: 0.5s;
    animation-name: opacity;
}
.left {
    width: 50%;
    border-top-left-radius: 1rem;
    background: var(--blue-color);
}
.right {
    width: 50%;
    border-top-right-radius: 1rem;
    background: var(--red-color);
}
.lk {
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    animation-duration: 0.5s;
    animation-name: opacity;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 980px) {
    ._ {
        margin: 0 0.5rem;
        width: auto;
        height: auto;
    }
    .topHeaders {
        padding: 1rem;
        font-size: 1.2rem;
    }
}