.header {
    height: 3rem;
    padding: 1rem;
    width: 100%;
    background: white;
    text-shadow: lightslategray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.mobileButton {
    display: none;
}
.logo {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 2rem;
    float: left;
    width: 30%;
}
.headerLinks {
    text-decoration: underline 2px cornflowerblue;
    text-underline-position: under;
}
.headerLinks:hover {
    text-decoration: underline 3px darkorange;
}

@media screen and (max-width: 980px) {
    /*.displayNone {*/
    /*    display: none;*/
    /*}*/
    ._ {
        position: relative;
    }
    .header {
        display: none;
    }
    .mobileButton {
        display: block;
        position: fixed;
        right: 0.5rem;
        top: 0.5rem;
        background: indianred;
        padding: 0.5rem;
        border-radius: 0.5rem;
        z-index: 1200;
    }
    .mobileMenu {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        background: darkgrey;
        z-index: 1150;
    }
}