._ {
    --red-color: rgb(239, 68, 68);
    --blue-color: rgb(96, 165, 250);
    --yellow-color: rgb(250, 204, 21);
}
.main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    /*background: white;*/
    background: inherit;
}

@media screen  and (max-width: 980px) {
    ._ {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        /*padding: 1rem;*/
    }
}