._ {
    display: grid;
    grid-template-columns: 2fr 1fr;
    animation-duration: 0.5s;
    animation-name: opacity;
}
.login {
    display: flex;
    flex-direction: column;
    background: rgb(150, 150, 150, 0.1);
    padding-top: 1rem;
    /*border-radius: 1rem;*/
}
.loginTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    text-decoration: underline;
}
.slogan {
    height: 25%;
    width: 100%;
    padding: 1rem 0;
    font-size: 2rem;
    font-family: sans-serif;
    /*font-weight: bold;*/
    text-align: center;
    color: var(--yellow-color);
    text-shadow: #000 1px 0 3px;
}
.lk {
    width: 100%;
    display: flex;
    /*justify-content: flex-start;*/
    margin: 2rem;
}
.lk a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red-color);
}
.arrow {
    height: 3rem;
    fill: var(--red-color);
}
.arrow:hover {
    transition: 500ms;
    scale: 1.05;
    fill: var(--blue-color);
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.phone {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.sloganTwo {
    font-size: 2.8rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: var(--yellow-color);
    text-shadow: #000 1px 0 5px;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 980px) {
    ._ {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        animation: none;
        gap: 2rem;
    }
    .login {
        background: rgb(150, 150, 150, 0.3);
        padding: 0 0.5rem;
    }
    .slogan {
        color: black;
        text-shadow: none;
    }
    .lk {
        background: whitesmoke;
        width: 90%;
        margin: 1rem;
        height: auto;
        border-radius: 3rem;
        padding-right: 1rem;
    }
    .loginTop {
        flex-direction: column;
        gap: 1rem;
    }
    .sloganTwo {
        font-size: 2rem;
    }
}